@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #4F46E5; /* Azul/Roxo (Modo Claro) */
    --swiper-navigation-size: 30px; /* Tamanho das setinhas (opcional) */
}

.dark {
    --swiper-theme-color: #FACC15; /* Amarelo (Modo Escuro) */
}

/* Ajuste opcional para as bolinhas de paginação não ficarem coladas */
.swiper-pagination-bullet {
    opacity: 0.5;
    background: var(--swiper-theme-color);
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

@layer utilities {
    /* Chrome, Edge, Safari */
    ::-webkit-scrollbar {
        width: 8px; /* Largura vertical */
        height: 8px; /* Altura horizontal */
    }

    /* O fundo da barra */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* A parte que a gente arrasta (Thumb) */
    ::-webkit-scrollbar-thumb {
        background-color: #9ca3af; /* Cinza médio */
        border-radius: 20px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

        /* Quando passa o mouse na barra */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #eab308; /* Amarelo escuro */
        }

    /* MODO ESCURO */
    .dark ::-webkit-scrollbar-thumb {
        background-color: #333; /* Cinza escuro */
    }

        .dark ::-webkit-scrollbar-thumb:hover {
            background-color: #F4ff00; /* Amarelo GuriCell Neon */
        }
}